server {
	host 127.0.0.1;
	listen 2345;
	server_name server1;
	root  application;
	index index.html;
	body_size 100000;
	autoindex true;

	error_page			404 E404.html;
	allow_methods 		GET;

	location / {
		root application/src;
		allow_methods GET DELETE POST;
		index index.html;
	}

	location /assets/images/ {
		allow_methods GET DELETE POST;
		autoindex false;
	}

	#testing that the presence of an index directive, autoindex true is nullified.
	#comment out index directive to witness autoindex functionality.
	location /test/ {
        root application/other;
		autoindex true;
        #index index.html;
    }

	#Testing redirection functionality.
	location /home/ {
        return /;
	allow_methods GET DELETE POST;
    }

	#Testing CGI
	location /login/ {
        return /cgi-bin/login.py;
    }
}
