server {
	host 127.0.0.1;
	listen 2345;
	server_name server1;
	root  application;
	index /src/index.html;
	body_size 100000;
	autoindex false;

	error_page			404 E404.html;
	allow_methods 		GET;

	location /assets/images {
		allow_methods GET DELETE POST;
		autoindex true;
	}

	location /test {
        root data/www/test;
        index index.html;
    	}

	location /home {
        return /;
	allow_methods GET DELETE POST;
    	}

	location /login {
        return /cgi-bin/login.py;
    	}
}
