server {
	listen 127.0.0.1:8081; 
	listen 8082  localhost:8080;
	listen 8083 8085;
	server_name server1 server2;
	#root  ; #data/www/   #data/www
	root  data/www/; 
	index index.html;

	error_page		400 400.html 401 401.html;
	error_page		402 402.html 403 403.html;
	error_page		405 405.html;
	methods 		GET     POST    DELETE;

	location /data {
		root 	data/; #data/www/  	#data/www/index.html
		index 	index.html; 		#data/www/index.html
		methods 		GET     POST    DELETE;
		autoindex OFF;
	}

	location /autre { 
		root 	data/www; #data/www/  	#data/www/index.html
		index index.html;
		methods 		GET     POST    DELETE;
		autoindex ON;
	}
	
	location /php {
		root data/www/;
		index ours.html;
		methods 		GET     POST ;
		return 301 index.html;
		autoindex ON;
	}
}

server {
	listen 127.0.0.1:8081              #localhost:8087; 
	listen 8082;
	listen 8083 8085;
	server_name server1 server2;
	#root  ; #data/www/   #data/www
	root  data/www ; 
	index home.html ;

	error_page		400 400.html;
	error_page		404 404.html ;
	methods 		GET     POST    DELETE;

	location /data {
		root 	data/www; #data/www/  	#data/www/index.html
		index 	about.html; 		#data/www/index.html
		methods 		GET     POST    DELETE;
		autoindex OFF;
	}

	location /autre {	# autre used just for url 
		root 	data/www; #data/www/  	#data/www/index.html
		index contact.html about.html;
		methods 		GET     POST    DELETE;
		autoindex ON;
	}
	
	location /php {
		root 	data/www/;
		index index.html;
		methods 		GET     DELETE ;
		return 301 home.html;
		autoindex OFF;
	}

}

