server {
	host 127.0.0.1;
	listen 2345;
	server_name server1;
	root  application;
	index index.html;
	body_size 100000;
	autoindex true;

	error_page			404 E404.html;
	allow_methods 		GET;

	location / {
		root application/src;
		allow_methods GET DELETE POST;
		index index.html;
	}

	location /assets/images/ {
		allow_methods GET DELETE POST;
		autoindex false;
	}

}

server {
	host 127.0.0.1;
	listen 3456;
	server_name server2;
	root  application;
	index index.html;
	body_size 100000;
	autoindex true;

	error_page			404 E404.html;
	allow_methods 		GET;

	location / {
		root application/src;
		allow_methods GET DELETE POST;
		index index.html;
	}

	location /assets/images/ {
		allow_methods GET DELETE POST;
		autoindex false;
	}
}