server {
	listen 127.0.0.1:8080;
	server_name server1;
	root  data/www;
	index index.html;
	body_size 8196;

	error_page		404 error_pages/404.html;
	methods 		GET     POST    DELETE;

	location /tata {
        root data/www/toto;
        index index.html;
        autoindex ON;
    }

    location /cgi {
		root data/cgi;
		index index.html;
	}

	location /method {
		methods DELETE;
	}

	location /redirect {
		return /tata;
	}

	location /files {
        autoindex ON;
    }

    location / {
        root data/www;
        index index.html;
        methods GET;
    }

    location /directory {
        methods GET;
        root YoupiBanane;
        index youpi.bad_extension;
    }

    location /put_test {
        root data/www;
        index index.html;
    }
}

server {
	listen 127.0.0.1:8081;
	server_name server1;
	root  data/www;
	index index.html;
	body_size 8196;

	error_page		404 error_pages/404.html;
	methods 		GET     POST    DELETE;

	location /tata {
        root data/www/toto;
        index index.html;
        autoindex ON;
    }

    location /cgi {
		root data/cgi;
		index index.html;
	}
}
